 div .image {
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: e7e4e4;
    box-shadow: 10px 10px 5px #e7e4e4;
  }
  div .picture {
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: e7e4e4;
     box-shadow: 10px 10px 5px #e7e4e4;
  }
  div .photo {
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: e7e4e4;
     box-shadow: 10px 10px 5px #e7e4e4;
  }
 